#!/bin/bash
##################################
### Config für die Pad Scripte ###
##################################

# Globale Speicherorte:
 # Speicherort der Bilder:
   picdir=/var/pad/bilder/  

#Gruppeneinstellungen
 # Gruppenordner
   groupdir=/usr/local/pad/groups/
 # Gruppendatei zum Speichern neuer Bilder
   newpicgroup=bilder_neu

# Einstellungen für suppenkasper.sh
 #Adressen der soups
 suppe=("http://fnordpad.soup.io/rss" "http://maesto.soup.io/rss" "http://sixtus.soup.io/rss" "http://fotochaoten.soup.io/rss" "http://kochchaoten.soup.io/rss" "http://gnd.soup.io/rss")

